.addExp{
    display: flex;
    margin-left: 3%;
    align-items: center;
    justify-content: left;
}
.add{
    padding: 2%;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    display: flex;
    align-items: center;
    background: none;
    border-radius: 10px;
    width: 150px;
    border: solid white 0.5px;
    transition: 0.2s;
    cursor: pointer;
}
.add:hover{
    transition: 0.2s;
    color: black;
    background-color: white;
}
.add img{
    filter: invert(1);
}
.add:hover img{
    filter: none;
}
.add:active{
    transform: scale(0.9);
}