.filter-div{
    margin: 2%;
}
.filter-div label{
    margin-left: 2%;
}
.filter-div input{
    background-color: black;
    border: solid white 0.5px;
    width: 300px;
}
.filter-div input,.filter-div select{
    padding: 0.3%;    border-radius: 10px;

}