.navmain{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navmain img{
    width: 10%;
}
.logo{
    display: flex;
    align-items: center;
}
