.totalContainer{
    margin-left: 3%;
    display: flex;
}
.totalContainer h1{
    margin: 1%;
}
.timeFrame{
    margin: 10px;
    color: black;
    font-weight: 300;
    /* background-color: white; */
    border-radius: 10px;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    padding: 5%;
}
.timeFrame:hover{
    transform: scale(1.1);
    transition: 0.2s;
}